html {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

body * {
    box-sizing: border-box;
}

.article {
    max-width: 1250px;
    margin: 0 auto;
    padding: 80px 15px;
}

.article__mb {
    margin-bottom: 80px;
}

.article__title {
    font-family: Oswald;
    font-weight: 600;
    font-size: 48px;
    max-width: 596px;
    max-height: 110px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 40px;
}

.article-text {
    color: rgba(83, 87, 85, 1);
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;

}

.text--mt {
    margin-top: 20px;
}

.article__decor-wrapper {
    margin: 40px 0;
    position: relative;
}



.article__decor {
    position: absolute;
    z-index: -1;
}

.article-decor-1 {
    top: 100px;
    left: -350px;
}

.article-decor-2 {
    bottom: 200px;
    right: -350px;
}

.article__decor-foto {
    width: 100%;
    max-width: 1220px;
    height: auto;
    display: block;
}

.article__title-group {
    font-size: 36px;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: Oswald;
}

.list {
    color: rgba(83, 87, 85, 1);
}


li::marker {
    font-size: 22px;
    color: #3596ed;
}

li {
    margin-top: 12px;
}




.article__title-review {
    margin-bottom: 40px;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}



.article-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: #3596ed;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.play_button-image {
    width: 24px;
    height: 28px;
}


@media (width <=1440px) {
    .article__decor {
        display: none;
    }
}


@media (width <=992px) {
    .article__title {
        font-size: 42px;
    }

    .text {
        font-size: 14px;
    }

    .article {
        padding: 40px 0;
    }

    .article-play-button {
        top: 45%;
        left: 50%;
        width: 57px;
        height: 57px;
        transform: translate(-50%, -50%);
    }

    .play_button-image {
        width: 21px;
        height: 24px;
    }

}

@media (width <=768px) {
    .article {
        padding: 30px 0;
    }

    .article__title {
        font-size: 40px;
    }

    .article__title-group {
        font-size: 32px;
    }

    .article-play-button {
        top: 43%;
        left: 50%;
        width: 55px;
        height: 55px;
        transform: translate(-50%, -50%);
    }

    .play_button-image {
        width: 20px;
        height: 24px;
    }
}

@media (width <=512px) {

    .article__mb {
        margin-bottom: 40px;
    }

    .article__title {
        font-size: 32px;
        margin-bottom: 25px
    }

    .article__title-group {
        font-size: 28px;
        margin-bottom: 25px
    }

    .article-play-button {
        top: 37%;
        left: 50%;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
    }

    .play_button-image {
        width: 16px;
        height: 20px;
    }
}