.footer {
    padding: 60px 0 40px;
    background: linear-gradient(90.00deg, rgba(73, 169, 255, 0.2), rgba(252, 124, 217, 0.2) 100%);
    text-align: center;
    margin-top: auto;
}

.footer-top {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d3cbd9;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 40px;
}

.footer__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__menu-link {
    color: #535755;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    transition: color 0.2s;
    text-decoration: none;
}

.footer__menu-link:hover {
    color: #3596ed;
}

.copyright {
    color: #858e8a;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 4%;
}

@media (width <=768px) {
    .footer__menu-list {
        gap: 20px;
        flex-direction: column;
    }
}

@media (width <=576px) {
    .footer {
        padding-top: 40px;
    }
}