html {
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 18px;
    font-weight: 600;
}
body * {
    box-sizing: border-box;
}

.header-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid rgb(175, 175, 175);
}

.box {
    width: 45px;
    height: 50px;
    background-color: black;
}

li {
    display: inline-block;
    margin: 0 20px;
    color: black;
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
}