body {
    background-color: #181E34;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/*++++++++++++++++++++++ */

.header {
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-button {
    border-radius: 100px;
    background-color: #fff;
    color: #2766ae;
    padding: 14px 30px;
    font-weight: 500;
}

/* ++++++++++++++++++++++++++ */
.hero {
    padding: 120px 0;
    background: url("../img/hero-bg.jpg") 10% 50% / cover no-repeat;
}

.hero-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;
}

.hero-text span {
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #01a2cb;
}

.paragraph {
    margin-bottom: 15px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
}

.hero-button-one {
    border-radius: 100px;
    background: linear-gradient(180.00deg, #00a4cc, #2766ae 100%);
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 30px;
    margin-top: 18.5px;
    margin-bottom: 10px;
}

.hero-button-two {
    border-radius: 100px;
    background: linear-gradient(129.14deg, #00a4cc, #2766ae 100%);
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 30px;
    margin-bottom: 18.5px
}

.hero-button-two img {
    margin-left: 4px;
}

.cards {
    padding: 120px 0;
}

.cards-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.cards-text {
    text-align: center;
    max-width: 513px;
    margin: 0 auto 60px;
}

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin: 0 14px;
}

.cards-flex-item {
    margin-bottom: 28px;
    padding: 0 14px;
    flex: 0 0 25%;

}

.cards-flex-inner {
    border: 2px solid #176bae;
    border-radius: 16px;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    background: #197cb8;
    padding: 28px 15px;
}

.cards-flex-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.cards-flex-text {
    text-align: center;
}

.hero-button {
    display: block;
    border-radius: 100px;
    background: linear-gradient(180.00deg, #00a4cc, #2766ae 100%);
    padding: 18px 30px;
    text-align: center;
    max-width: 435px;
    margin: 0 auto;
}

.footer {
    border-top: 1px solid #323952;
    padding: 60px 0;
}

.footer-inner {
    display: flex;
}

.footer-desc {
    max-width: 267px;
    margin-right: auto;
}

.footer-desc a {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-item {
    margin-bottom: 10px;
}
.footer-col {
    max-width: 115px;
    width: 100%;
}
