.table {
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}
td, th {
    border: 1px solid black;
    width: 28px;
    height: 21px;
}
.color {
    color: red;
    font-weight: bold;
}