@import url(./base/normalize.css);
@import url(./base/fonts.css);
@import url(./base/vars.css);
@import url(./base/globals.css);

@import url(./blocks/header.css);
@import url(./blocks/menu.css);
@import url(./blocks/burger.css);
@import url(./blocks/hero.css);
@import url(./blocks/air-mag.css);