* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 375px;
    height: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 1fr; /* aside + main */
    grid-template-rows: auto 1fr auto; /* header, main, footer */
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    min-height: 100vh;
}

.header {
    grid-area: header;
    height: 100px;
    background-color: rgb(28, 76, 88);
}

.aside {
    grid-area: aside;
    background-color: rgb(81, 92, 44);
}

.main {
    grid-area: main;
    background-color: rgb(178, 207, 178);
    padding: 20px;
}

.main .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.article {
    height: 300px;
    background-color: orange;
}

.footer {
    grid-area: footer;
    height: 100px;
    background-color: rgb(161, 217, 221);
}


@media (width <=1440px) {
    .main .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .wrapper {
        grid-template-columns: 150px 1fr;
    }
    .main .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
    .aside {
        display: none;
    }
    .main .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 512px) {
    .main .container {
        grid-template-columns: 1fr;
    }
}