.block {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    font-style: italic;

}

.block1 {

    font-family: serif;
    font-size: 15px;
    line-height: 30px;
    text-decoration: line-through;
    
}

.block2 {
    font-family: "Cinzel", serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;

}

.block3 {
    text-shadow: 0.8px 0.8px #c45ccf;
    text-decoration: overline wavy;
    word-spacing: 30px;
}

.block4 {
    letter-spacing: 5px;
    text-decoration: underline dashed;
}