.hero {
    position: relative;
}

.hero__container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 742px;
}

.hero__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.hero__benefits-list {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero__benefits-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.hero__title {
    font-weight: 600;
    font-size: 128px;
    text-transform: uppercase;
    color: var(--main-color);
}

.hero__title-accent{
    color: transparent;
    -webkit-text-stroke: 3px var(--accent-color);
}

.hero__img {
    position: absolute;
    top: 88px;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--layer-negative)
}

.hero__footer{
    padding-bottom: 20px;
    text-align: end;
}

.hero__details {
    display: inline-flex;
    align-items: center ;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-color);
}