html {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

body * {
    box-sizing: border-box;
}

.article {
    max-width: 1250px;
    margin: 0 auto;
    padding: 80px 15px;
}

.article-title {
    font-family: Oswald;
    font-weight: 600;
    font-size: 48px;
    max-width: 596px;
    max-height: 110px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 40px;
}

.article-text {
    color: rgba(83, 87, 85, 1);
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;

}

p.article-text {
    margin-top: 20px;
}


h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.list {
    color: rgba(83, 87, 85, 1);
}

.article-mb {
    margin-bottom: 80px;
}


.article-decor {
    position: absolute;
    z-index: -1;
}

.article-decor-1 {
    top: 100px;
    left: -350px;
}

.article-decor-2 {
    bottom: 200px;
    right: -350px;
}

.foto {
    width: 100%;
    max-width: 1220px;
    height: auto;
    display: block;
}

.article-title1 {
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 600;
}

.group {
    margin: 80px 0;
}

li::marker {
    font-size: 22px;
    color: #3596ed;
}

li {
    margin-top: 12px;
}




h3 {
    margin-bottom: 40px;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

.article-decor-wrapper {
    margin: 40px 0;
    position: relative;
}

.article-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: #3596ed;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


@media (width <=1440px) {
    .article-decor {
        display: none;
    }
 }


@media (width <=992px) {
    .group {
        margin: 40px 0;
    }
    .article-title {
        font-size: 42px;
    }

    .article-decor-wrapper img {
        max-width: 700px;
    }

    .article-text {
        font-size: 14px;
    }

    .article {
        padding: 40px 0;
    }
}

@media (width <=768px) { 
    .article {
        padding: 30px 0;
    }
    .article-title {
        font-size: 40px;
    }
    .article-title1 {
        font-size: 32px;
    }
}
@media (width <=512px) {

    .article-mb {
        margin-bottom: 40px;
    }   
    .article-title {
        font-size: 32px;
        margin-bottom: 25px
    }
    .article-title1 {
        font-size: 28px;
        margin-bottom: 25px
    }
}