.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d3cbd9
}

.phone {
    text-align: right;
}

.phone-text {
    margin-bottom: 8px;
}

.phone-link {
    color:#2c332f;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}