label {
    display: block;
    margin-top: 10px;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

fieldset {
    width: 320px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    min-height: 20px;
    max-height: 300px;
    width: 70%
}

button {
    cursor: pointer;
    margin-top: 10px;
}