html {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

body * {
    box-sizing: border-box;
}

header * {
    box-sizing: border-box;
}

.head {
    background: linear-gradient(90.00deg, rgba(73, 169, 255, 0.2), rgba(252, 124, 217, 0.2) 100%);
    width: 1220px;
    height: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0px 30px 0px;
}

.shapka {
    width: 240px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
}

.number {
    color: black font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
}

.article {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.article-title {
    font-family: Oswald;
    font-weight: 600;
    font-size: 48px;
    max-width: 596px;
    max-height: 110px;
    text-transform: uppercase;
}

p {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
}

.foto {
    margin: 80px 0;
    max-width: 1220px;
    max-height: 512px;
}

.article-title1 {
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 600;
}

.group {
    max-width: 744px;
}

li {
    margin-top: 12px;
}

h3 {
    margin-bottom: 40px;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

.video {
    max-width: 1220px;
    max-height: 654px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40;

}

video {
    width: 1220px;
    height: 512px;
    margin-bottom: 40px;
}



footer {
    width: 1920px;
    height: 302.32px;
    background: linear-gradient(90.00deg, rgba(73, 169, 255, 0.2), rgba(252, 124, 217, 0.2) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 120px;
    padding: 60px 0px 40px 0px;
}

.logo {
    width: 80.35px;
    height: 45.32px;
}

.contacts {
    width: 733px;
    height: 21px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    padding: 40px 0;
}

.footer-center {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}